.container{
    width: 100%;
    height: 100%;
 position: absolute;
  top: 0;
  left: 0;


}
.header{
    width: 100%;
    height: 10%;
}
.body{
    width: 100%;
    height: 90%;

}
//list td .status{
//  width: 30px;
//  height: 10px;
//  border-radius: 30%;
//  background-color: seagreen;
//}


